<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Estudiante</title>
    <link rel="stylesheet" href="./Public/Styles.css">
    <style>
        /* Estilos para el menú de navegación */
        nav {
            background-color: #333;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav ul li {
            float: left;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/inicioEstudiante">Inicio</a></li>
            <li><a href="/MateriasPorEs">Materias inscritas</a></li>
            <li><a href="/estudiantes/materias/novistas">Inscribir Materias</a></li>
            <li><a href="/Login">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <h1>Bienvenido Estudiante</h1>
    <!-- Aquí puedes agregar contenido específico para la página de inicio del estudiante -->
</body>
</html>